body {
    font-family: Arial;
    background-image: url('../Image/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    margin: 0;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
}

input, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}